<div class="contents row">
  <% @questions.each do |question| %>
    <div class="content_post" >
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '詳細', "/questions/#{question.id}", method: :get %>
          </li>
            <% if user_signed_in? && current_user.id == question.user_id %>
             <li>
            <%= link_to '編集', "/questions/#{question.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/questions/#{question.id}", method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
      <%= simple_format(question.text) %>
      <span class="name">
        <a href="/users/<%= question.user.id %>">
          <span>送信者</span><%= question.user.name %>
        </a>
      </span>
    </div>
  <% end %>
</div>