%body
  %header.questionHeader
    .questionHeader__left
      %a メッセージ・スケジュール帳
    - if user_signed_in?
      .questionHeader__rightLogin
        %span
          = current_user.name
          %ul.user__info
            %li
              = link_to "マイページ", "/users/#{current_user.id}"
              = link_to "ログアウト", destroy_user_session_path, method: :delete
        = link_to  "投稿する", "/questions/new", class: "post"
    - else
      .questionHeader__right
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'