.contents.row
  .content_post
    - if user_signed_in? && current_user.id == @question.user_id
      .more
        %ul.more_list
          %li
            = link_to '編集', "/questions/#{@question.id}/edit", method: :get
          %li
            = link_to '削除', "/questions/#{@question.id}", method: :delete
    = simple_format(@question.text)
    %span.name
      %a{:href => "/users/#{@question.user.id}"}
        %span 投稿者
        = @question.user.name
  .container
    - if current_user
      = form_with(model: [@question, @comment], local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2"
        = form.submit "SEND"
    - else
      %strong
        %p ※※※ コメントの送信には新規登録/ログインが必要です ※※※
  .comments
    %h4 ＜コメント一覧＞
    - if @comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.name, "/users/#{comment.user_id}"
            ：
          = comment.text
