%h1 スケジュール

%table
  %thead
    %tr
      %th 内容
      %th 開始時間
      %th
      %th
      %th

  %tbody
    - @meetings.each do |meeting|
      %tr
        %td= meeting.name
        %td= meeting.start_time
        %td= link_to '詳細/', meeting
        %td= link_to '編集/', edit_meeting_path(meeting)
        %td= link_to '削除', meeting, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to '新規登録', new_meeting_path

= month_calendar events: @meetings do |date, meetings|
  = date

  - meetings.each do |meeting|
    %div
      = meeting.name
